<style>
  label { width: 85px; vertical-align: middle;}
  h3 {margin-bottom: 10px; color: blue;}
  h4 {margin-bottom: 10px; 
	  text-decoration: underline;}
</style>

<h3>Add a Driver</h3>

<% if @driver.errors.any? %>
  <ul>
    <% @driver.errors.full_messages.each do |error| %>
	  <li>Field Entry Error: <%= error %></li>
	<% end %>
  </ul>
<% end %>

<%= form_tag "/drivers" do %>
  <p>
    <%= label_tag :name, "Name:" %>
	<%= text_field_tag :name %>
  </p>
  <p>
	<%= label_tag :last_lat, "Last Known Latitude:" %>
	<%= text_field_tag :last_lat %>
  </p>
  <p>
	<%= label_tag :last_long, "Last Known Longitude:" %>
	<%= text_field_tag :last_long %>
  </p>
  <h4>Equipment</h4> (Select all that apply)<br/><br/>
  <p>
	<%= label_tag :flat_bed, "Flat Bed" %>
    <%= check_box_tag :flat_bed %>&emsp;&emsp;
	<%= label_tag :dry_van, "Dry Van" %>
    <%= check_box_tag :dry_van %>&emsp;&emsp;
	<%= label_tag :refrigerated, "Refrigerated" %>
    <%= check_box_tag :refrigerated %>
  </p>
  <p>
	<%= label_tag :lowboy, "Lowboy" %>
    <%= check_box_tag :lowboy %>&emsp;&emsp;
	<%= label_tag :step_deck, "Step Deck" %>
    <%= check_box_tag :step_deck %>&emsp;&emsp;
	<%= label_tag :extendable_flatbed, "Extendable Flatbed" %>
    <%= check_box_tag :extendable_flatbed %>
  </p>
  <%= submit_tag "Submit" %>
<% end %>
